body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #2B385B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  position: relative;
}

.loader div {
  transform-origin: 2.5rem 2.5rem;
  animation: spinner 1.2s linear infinite;
}

.loader div:after {
  top: 0.2rem;
  left: 2.3rem;
  width: 0.5rem;
  height: 1.25rem;
  border-radius: 50%;
  background: white;
  content: "";
  display: block;
  position: absolute;
}

.loader div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loader div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}