body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse-button {
    height: 170px;
    width: 170px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    color: white;
    background-color: #7F3FBF;
    box-shadow: rgba(127, 63, 191, .9);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(127, 63, 191, 0.9);
        transform: scale(.95);
    }

    70% {
        box-shadow: 0 0 0 50px rgba(74, 219, 219, 0);
        transform: scale(1);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(74, 219, 219, 0);
        transform: scale(.95);
    }
}